<button id="measure-button" class="tool-button" (click)="toggleMeasure()" [class.active]="measureActive">
	<span class="svg-measure">
	<svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
		<image *ngIf="!measureActive; else svgMeasureW" xlink:href="../../app/img/svg/measure.svg" x="0" y="0" height="15px" width="15px"/>
		<ng-template #svgMeasureW><image xlink:href="../../app/img/svg/measure-w.svg" x="0" y="0" height="15px" width="15px"/></ng-template>
	</svg>
	</span>
	Matuoti / Analizuoti
</button>

<div id="measure-container" class="measure-tool buffer-tool">
  <div id="measure-menu" class="measure" [class.measure-active]="measureActive" draggable="true">
    <span id="close-measure" (click)="toggleMeasure()" [class.measure-active]="measureActive">
      <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" height="612px" id="Capa_1"  version="1.1" viewBox="0 0 612 612" width="612px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
      <g>
        <g id="cross">
          <g>
            <polygon points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397      306,341.411 576.521,611.397 612,575.997 341.459,306.011    "></polygon>
          </g>
        </g>
      </g>
      </svg>
    </span>
		<span id="drag-measure" [class.print-active]="measureActive">
			<svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
				<image xlink:href="../../app/img/svg/move.svg" x="0" y="0" height="15px" width="15px"/>
			</svg>
		<span title="Keiskite padėti pelės pagalba">- keiskite padėti</span>
		</span>

		<measure-container *ngIf="measureActive"></measure-container>

  </div>
</div>
