<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 map-col map-projektai">
      <div id="map">
        <div id="building-help" class="animate" *ngIf="projectsListArr" (click)="helpOpen($event)">
            <p title="Valdymo instrukcija">i</p>
        </div>
        <div *ngIf="helpContainerActive" class="modal-content" id="help-container" (click)="helpOpen($event); true; $event.stopPropagation();">
        </div>
        <div *ngIf="helpContainerActive" class="content box-shadow" id="inner-help-container">
          <span id="close-filter" (click)="helpOpen($event); true; $event.stopPropagation();">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
            <g>
              <g id="cross">
                <g>
                  <polygon points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397      306,341.411 576.521,611.397 612,575.997 341.459,306.011    "/>
                </g>
              </g>
            </g>
            </svg>
          </span>
          <h2>Sveiki! Jūs esate Vilniaus miesto savivaldybės investicinių projektų interaktyviame žemėlapyje</h2>
          <p>Vilniaus miesto savivaldybės interaktyvus investicinių projektų žemėlapis yra skirtas Vilniaus gyventojams ir miesto svečiams patogiai ir išsamiai susipažinti su naujausia informacija apie mieste planuojamus, vykdomus ir jau įgyvendintus investicinius projektus.</p>
          <p>Žemėlapis atvaizduoja visą Vilniaus miesto savivaldybės teritoriją, papildomai spalviškai išskiriant dvi miesto teritorijas, kuriose bus įgyvendinami projektai vadovaujantis 2014-2020 Europos Sąjungos investicijų į integruotų teritorijų vystymo programą tvarka <sup>1, 2</sup>. Integruotų teritorijų vystymo programa apima dvi tikslines Vilniaus miesto teritorijas <sup>3</sup>, kurios pavadintos „Šiaurinė tikslinė teritorija“ ir „Pietinė tikslinė teritorija“ <sup>4</sup>.</p>
          <img src="./app/img/itv-help-4.jpg" border="0">
          <p><u>Tikslinės teritorijos</u> – pagal tikslinės teritorijos išskyrimo kriterijus ir (ar) principus išskirtos teritorijos, kuriose įgyvendinama nacionalinė regioninė politika ir planavimo dokumentuose ir (ar) nacionaliniuose Europos Sąjungos lėšų programavimo dokumentuose nustatyti tikslinių teritorijų vystymo tikslai ir uždaviniai.</p>
          <br>
          <p>Interaktyviame žemėlapyje projektai vaizduojami pagal jų įgyvendinimo būseną:</p>
          <img src="./app/img/itv-help-1.png" border="0">
          <p>Kai projektas vykdomas Europos Sąjungos investicijų pagalba, projekto vykdymo pradžia yra laikoma data kai pasirašoma projekto finansavimo administravimo sutartis. Kai projektas vykdomas Vilniaus miesto savivaldybės investicijomis, projekto vykdymo pradžia laikoma rangos darbų pradžia (statybos darbams), sutarties pasirašymo diena (prekėms ir paslaugoms). Projektui dar esant būsenoje „Nepradėtas projektas“ gali būti vykdomi projekto parengiamieji darbai – rengiami architektūriniai/projektiniai pasiūlymai, rengiamas techninis projektas, vykdomi viešieji pirkimai netgi atliekami rangos darbai, todėl siekiant kaip įmanoma tiksliau nusakyti konkretaus projekto situaciją suskirstėme projektus į 5 etapus:</p>
            <p class="sup">1. Rengiami architektūriniai/projektiniai pasiūlymai;</p>
            <p class="sup">2. Rengiamas techninis projektas; </p>
            <p class="sup">3.Vykdomi viešieji pirkimai; </p>
            <p class="sup">4. Vykdomi rangos darbai; </p>
            <p class="sup">5. Kita. </p>
          <h3>Pagrindinis filtravimas:</h3>
          <p><u>Pagal žemėlapio aprėptį</u> – projektai rezultatų sąraše yra rodomi pagal žemėlapio mastelį ir naršyklės ekraną.</p>
          <p><u>Pagal raktinį žodį</u> – projektai rezultatų sąraše yra rodomi iš visų esančių investicinių projektų pagal įvestą žodį, jo dalį ar frazę.</p>
          <img src="./app/img/itv-help-2.png" border="0">
          <h3>Detalus filtravimas:</h3>
          <p>Detalus filtravimas gali būti naudojamas kartu su pagrindiniu filtravimu. Filtrų pagalba galite filtruoti projektus pagal temines grupes (Tema) ir / arba projektų užbaigimo metus (Užbaigimo metai).</p>
          <img src="./app/img/itv-help-3.png" border="0">
          <p class="sup"><sup>1</sup> Interaktyvus žemėlapis sukurtas vadovaujantis Lietuvos Respublikos vidaus reikalų <a href="https://www.e-tar.lt/portal/lt/legalAct/1976782008fd11e4adf3c8c5d7681e73" target="_blank" class="animate"> ministro įsakymu „Dėl integruotų teritorijų vystymo programų rengimo ir įgyvendinimo gairių patvirtinimo“</a>, patvirtintu 2014 m. liepos 11 d. Nr. 1V-480.</p>
          <p class="sup"><sup>2</sup> 2Remiantis gairėmis parengta Vilniaus miesto integruota teritorijos vystymo programa, patvirtinta Lietuvos Respublikos vidaus reikalų <a href="https://www.e-tar.lt/portal/lt/legalAct/1bfd985018e511e58569be21ff080a8c/cYhAatiEOa" target="_blank" class="animate">ministro įsakymu „Dėl Vilniaus miesto integruotos teritorijos vystymo programos patvirtinimo“</a>, 2015 m. birželio 19 d. Nr. 1V- 513.</p>
          <p class="sup"><sup>3</sup> Rengiant programą Vilniaus miesto savivaldybės taryba patvirtino Šiaurinės ir Pietinės tikslinių teritorijų ribas sprendimu „Dėl pritarimo 2014–2020 m. Vilniaus miesto integruotų teritorijų vystymo programos projektui“, 2014 m. liepos 9 d. Nr. 1-1921.</p>
          <p class="sup"><sup>4</sup> Tikslinės teritorijos – pagal tikslinės teritorijos išskyrimo kriterijus ir (ar) principus išskirtos teritorijos, kuriose įgyvendinama nacionalinė regioninė politika ir planavimo dokumentuose ir (ar) nacionaliniuose Europos Sąjungos lėšų programavimo dokumentuose nustatyti tikslinių teritorijų vystymo tikslai ir uždaviniai.</p>
        </div>

        <div *ngIf="shareContainerActive" class="modal-content" id="share-container" (click)="shareToggle($event); true; $event.stopPropagation();">
        </div>
        <div *ngIf="shareContainerActive" class="content box-shadow" id="inner-share-container">
          <span id="close-filter" (click)="shareToggle($event); true; $event.stopPropagation();">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
            <g>
              <g id="cross">
                <g>
                  <polygon points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397      306,341.411 576.521,611.397 612,575.997 341.459,306.011    "/>
                </g>
              </g>
            </g>
            </svg>
          </span>
          <p>Žemėlapio nuoroda:</p>
          <input id="url-link" type="text" class="validate filter-input form-control" [value]="shareUrl" (click)="select($event)">
        </div>

        <div id="share-btn" class="animate" *ngIf="projectsListArr" (click)="shareToggle($event); true; $event.stopPropagation();">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="share-icon" x="0px" y="0px" viewBox="0 0 481.6 481.6">
          <g>
            <path d="M381.6,309.4c-27.7,0-52.4,13.2-68.2,33.6l-132.3-73.9c3.1-8.9,4.8-18.5,4.8-28.4c0-10-1.7-19.5-4.9-28.5l132.2-73.8   c15.7,20.5,40.5,33.8,68.3,33.8c47.4,0,86.1-38.6,86.1-86.1S429,0,381.5,0s-86.1,38.6-86.1,86.1c0,10,1.7,19.6,4.9,28.5   l-132.1,73.8c-15.7-20.6-40.5-33.8-68.3-33.8c-47.4,0-86.1,38.6-86.1,86.1s38.7,86.1,86.2,86.1c27.8,0,52.6-13.3,68.4-33.9   l132.2,73.9c-3.2,9-5,18.7-5,28.7c0,47.4,38.6,86.1,86.1,86.1s86.1-38.6,86.1-86.1S429.1,309.4,381.6,309.4z M381.6,27.1   c32.6,0,59.1,26.5,59.1,59.1s-26.5,59.1-59.1,59.1s-59.1-26.5-59.1-59.1S349.1,27.1,381.6,27.1z M100,299.8   c-32.6,0-59.1-26.5-59.1-59.1s26.5-59.1,59.1-59.1s59.1,26.5,59.1,59.1S132.5,299.8,100,299.8z M381.6,454.5   c-32.6,0-59.1-26.5-59.1-59.1c0-32.6,26.5-59.1,59.1-59.1s59.1,26.5,59.1,59.1C440.7,428,414.2,454.5,381.6,454.5z"/>
          </g>
          </svg>
        </div>
        <div id="widgets" *ngIf="projectsListArr">
          <menu-map [view]="view"></menu-map>
          <scale-map [view]="view"></scale-map>
          <compass-map [view]="view"></compass-map>
          <credits-map></credits-map>
          <basemap-toggle [view]="view"></basemap-toggle>
          <projects-gallery></projects-gallery>
      </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 r-sidebar">
      <projects-list [featureLayers]="featureLayers" [view]="view" [map]="map" [projectsList]="projectsListArrToComponent" [projectsListOriginal]="projectsListArr" [fullListChanged]="fullListChanged" (onFilter)="onFilter($event)" [highlight]="autocompleteValue">
        </projects-list>
    </div>
  </div>
</div>
