<sidebar-kindergartens
	class="sidebar-common"
	[title]="sidebarTitle"
	[@sidebarState]="sidebarState"
	[sidebarContent]="kindergartensContent"
 [dataStore]="dataStore"
	[mainSidebarState]="sidebarState"
>
	<button
		[class.s-close]="sidebarState === 's-close'"
		class="kind button close build-close"
		title="Uždaryti"
		(click)=toggleSidebar()
	>
	<span *ngIf="sidebarState === 's-open'; else openSidebarTag">✕</span>
	<ng-template #openSidebarTag><i aria-hidden="true" class="fa fa-navicon"></i></ng-template>
	</button>
</sidebar-kindergartens>
