<div [class.heat-sidebar]="sidebarHeatContent" class="col-xs-6 col-md-4 r-sidebar sidebar-right sidebar-buildings">
  <perfect-scrollbar>
    <ng-content></ng-content>
    <div id="build-inner" class="inner sub-build">
      <ng-container [ngTemplateOutlet]="sidebarHeatContent && heatContent"></ng-container>
    </div>
  </perfect-scrollbar>
  <ng-container [ngTemplateOutlet]="sidebarHeatContent && quartersContent"></ng-container>
  <ng-container [ngTemplateOutlet]="heatMonthsChart"></ng-container>
  <ng-container [ngTemplateOutlet]="heatClassesChart"></ng-container>
  <ng-container [ngTemplateOutlet]="sidebarHeatContent && infoTemplate"></ng-container>
</div>

<ng-template #heatContent>
  <div [@sidebarToggle]="innerState">
    <h3>{{sidebarHeatContent?.ADRESAS}}</h3>
    <ng-container>
      <p *ngIf="!!sidebarHeatContent.RENOVUOTA">
        <span class="font-l" *ngIf="sidebarHeatContent.RENOVUOTA === 100">Renovacijos darbai <strong>atlikti</strong><br /></span>
        <span class="font-l" *ngIf="sidebarHeatContent.RENOVUOTA < 100">Renovacijos darbai <strong>vyksta</strong><br /></span>
      </p>
      <p>
          <span class="font-l">
              Kvartalo prioriteto grupė: 
              <ng-container [ngSwitch]="sidebarHeatContent.Atr_KV">
                  <span *ngSwitchCase="1" class="group--highlight"
                  [popper]="'I prioriteto grupė  - kvartalai, kurių kompleksinis atnaujinimas vykdomas pagal Programą iki 2023 metų'"
                  [popperTrigger]="'hover'" [popperForceDetection]="true" [popperPlacement]="'bottom'"><span class="quarters-symbol" mapRgbaColor [outline]="quaretrsBorderSybol" [fill]="quaretrsFillSybol['group1']"></span><strong>{{sidebarHeatContent.Atr_KV}} grupė</strong><br />
                  </span>
                  <span *ngSwitchCase="2" class="group--highlight"
                  [popper]="'II prioriteto grupė  - kvartalai, kurių kompleksinis atnaujinimas gali būti įtrauktas Programą.  Į Programą gali būti įtraukiami kvartalai, kuriuose atnaujintų daugiabučių gyvenamųjų namų ir namų, kurių gyventojai yra priėmę sprendimą dėl sutikimo atnaujinti daugiabutį gyvenamąjį namą, yra daugiau kaip 25 proc., lyginant su visais kvartale atnaujintinais daugiabučiais gyvenamaisiais namais.'"
                  [popperTrigger]="'hover'" [popperForceDetection]="true" [popperPlacement]="'bottom'"><span class="quarters-symbol" mapRgbaColor [outline]="quaretrsBorderSybol" [fill]="quaretrsFillSybol['group2']"></span><strong>{{sidebarHeatContent.Atr_KV}} grupė</strong><br /></span>
                  <span *ngSwitchCase="3" class="group--highlight"
                  [popper]="'III prioriteto grupė - kvartalai, kuriuose pagal jų užstatymo parametrus jų kompleksinio atnaujinimo reikmė nėra prioritetinė.'"
                  [popperTrigger]="'hover'" [popperForceDetection]="true" [popperPlacement]="'bottom'"><span class="quarters-symbol" mapRgbaColor [outline]="quaretrsBorderSybol" [fill]="quaretrsFillSybol['group3']"></span><strong>{{sidebarHeatContent.Atr_KV}} grupė</strong><br /></span>
              </ng-container>

          </span>
      </p>
    </ng-container>

    <div class="clear-both"></div>

    <div class="bt-wrapper">
      <p class="build-bt build-top" (click)="openSidaberGroup('quarters')">
        <span class="animate">Kvartalo bendroji informacija</span>
      </p>
      <p class="build-bt build-top" (click)="openSidaberGroup('classes')">
        <span class="animate">Faktinio energijos vartojimo klasė</span>
      </p>
      <p class="build-bt build-top" (click)="openSidaberGroup('months')">
        <span class="animate">Namo šilumos suvartojimo grafikas</span>
      </p>
      <p class="build-bt build-top" (click)="openSidaberGroup('info')">
        <span class="animate">Informacija</span>
      </p>
    </div>
  </div>
</ng-template>

<ng-template #quartersContent>
  <div class="heat-months-graphic sidebar-container" [@sidebarToggle]="sidebarQuartersState">
    <perfect-scrollbar>
      <div class="build-p sidebar-header" (click)="closeSidaberGroup('quarters')">
        <a href="javascript:void(0)" class="button close animate build-close">Atgal</a>
      </div>
      <div class="main-s-content">
        <p>
          <span>Kvartalo pavadinimas<br /></span>
          {{sidebarHeatContent.KV_PAV}}
        </p>
        <p>
          <span>Namų skaičius<br /></span>
          {{sidebarHeatContent.DAUG_SK}} vnt.
        </p>
        <p>
          <span>Atnaujintų namų skaičius<br /></span>
          {{sidebarHeatContent.REN_DAUG}} vnt.
        </p>
        <p>
          <span>Atnaujintų namų dalis<br /></span>
          {{sidebarHeatContent.R_DALIS | number:'1.0-0'}} %
        </p>
        <p>
          <span>Namų bendrasis plotas<br /></span>
          {{sidebarHeatContent.DAUG_PL / 1000 | number:'1.0-1'}} tūkst. m<sup>2</sup>
        </p>
        <p>
          <span>Atnaujintų namų bendrasis plotas<br /></span>
          {{sidebarHeatContent.R_PLOT / 1000 | number:'1.0-1'}} tūkst. m<sup>2</sup>
        </p>
        <p>
          <span>Atnaujintų namų dalis pagal plotą<br /></span>
          {{sidebarHeatContent.R_D_SAN | number:'1.0-0'}} %
        </p>
        <p>
          <span>Atnaujintinų (renovuotinų) namų skaičius<br /></span>
          {{sidebarHeatContent.REN_SK}} vnt.
        </p>
        <p>
          <span>Atnaujintinų (renovuotinų) namų bendrasis plotas<br /></span>
          {{sidebarHeatContent.REN_PL / 1000 | number:'1.0-1'}} tūkst. m<sup>2</sup>
        </p>
      </div>
      <div class="sidebar-buildings-info">
        <p>Kvartalas <span class="green" *ngIf="sidebarHeatContent.Atr_KV === 1; else quartersProgram">patenka</span>
          <ng-template #quartersProgram><span class="red">nepatenka</span></ng-template> į kvartalinės renovacijos
          programos sąrašą
        </p>
        <p>Atnaujinti namai – daugiabučiai namai, kuriuose atnaujinimo procesas yra užbaigtas arba yra vykdomi
          atnaujinimo darbai, arba yra gautas VšĮ Būsto energijos taupymo agentūra pritarimas finansuoti projektą.</p>
        <p><a
            href="https://vilnius.lt/lt/savivaldybe/aplinkosauga-ir-energetika/daugiabuciu-namu-atnaujinimas-modernizavimas/">Papildoma
            informacija apie kvartalinę renovaciją ir daugiabučių atnaujinimo tvarką</a></p>
        <p>Kilus klausimams kreiptis <a href="mailto:savivaldybe@vilnius.lt">savivaldybe@vilnius.lt</a></p>
      </div>
    </perfect-scrollbar>
  </div>
</ng-template>

<ng-template #heatMonthsChart>
  <div class="heat-months-graphic sidebar-container" [@sidebarToggle]="sidebarMonthsState">
    <perfect-scrollbar>
      <div class="build-p sidebar-header" (click)="closeSidaberGroup('months')"> <a href="javascript:void(0)"
          class="button close animate build-close">Atgal</a></div>
      <div [ngClass]="{'hide': !showCharts}">
        <div class="heat-title">
          <p>Vidutinis šilumos kiekis, tenkantis namo 1 m² naudingojo ploto, kWh/m²

            <span class="heat-tip">
              <span class="heat-highlight border-r-2"
                [popper]="'Mėnesinis šilumos suvartojimas pagal mokėjimus už šilumą yra įtakojamas normatyvinio karšto vandens gyvatuko ir netolygaus gyventojų karšto vandens suvartojimo, todėl šis kiekis neturi sutapti su Faktiniu kiekvieno pastato išskaičiuotu vartojimu (žiūrėti į 1 grafą)'"
                [popperTrigger]="'hover'" [popperForceDetection]="true" [popperPlacement]="'bottom'">Paaiškinimas</span>
            </span></p>
        </div>
        <div class="canvas-wrapper">
          <canvas width="326" height="400" #mChart></canvas>
        </div>
      </div>
      <div [ngClass]="{'hide': showCharts}">
        <p class="not-found-template--margin">&sdot; <span>Informacija apie šilumos suvartojimą neteikiama</span></p>
      </div>
    </perfect-scrollbar>
  </div>
</ng-template>

<ng-template #heatClassesChart>
  <div class="heat-classes-graphic sidebar-container" [@sidebarToggle]="sidebarClassesState">
    <perfect-scrollbar>
      <div class="build-p sidebar-header" (click)="closeSidaberGroup('classes')"> <a href="javascript:void(0)"
          class="button close animate build-close">Atgal</a></div>

      <div [ngClass]="{'hide': !showCharts}">
        <div class="heat-title">
          <p>Faktinio energijos vartojimo klasė <br /> </p>
        </div>
        <p class="split-half">
          <span class="font-l">sezonas<br /></span>
          {{sidebarHeatContent?.REITMAXMET}}-{{sidebarHeatContent?.REITMAXMET+1}}
        </p>
        <p class="split-half">
          <span>klasė<br /></span>
          <span [class.highlight]="sidebarHeatContent?.REITING > 6" class="border-r-2">
            <strong>{{sidebarHeatContent?.REITING}}</strong>
          </span>
        </p>
        <div class="clear-both"></div>
        <p class="split-half">
          <span class="font-l">sezonas<br /></span>
          {{sidebarHeatContent?.REITMAXMET-1}}-{{sidebarHeatContent?.REITMAXMET}}
        </p>
        <p class="split-half">
          <span>klasė<br /></span>
          <span [class.highlight]="sidebarHeatContent?.REITING > 6" class="border-r-2">
            <strong>{{sidebarHeatContent?.REITING1}}</strong>
          </span>
        </p>
        <div class="clear-both"></div>
        
        <div class="tab"></div>

        <div class="canvas-wrapper">
          <canvas width="326" height="400" #cChart></canvas>
        </div>
        <div class="heat-info">
          <p>Grafike vaizduojama paskutinio šildymo sezono <strong>{{heatingClassesData?.totalResults}}</strong> namų
            palyginimas pagal energijos
            <a href="./app/docs/metodika_2013.pdf" target="_blank"
              [popper]="'Faktinio Energijos Vartojimo Klasė yra skirta įvertinti, kiek energijos pastatas faktiškai vartoja patalpų šildymui. Pagal energijos vartojimą patalpų šildymui pastatai suskirstyti į 15 klasių: pati mažiausia ir efektyviausia yra 1 klasė, pati didžiausia ir mažiausiai efektyvi yra 15 klasė. Faktinio energijos vartojimo klasės skaitinė reikšmė tai dydis, kurį skaičiuojant iš jo yra eliminuota skirtingo šildymo sezono trukmės įtaka, skirtingo šildymo sezono išorės oro temperatūros įtaka, skirtingo pastato šildymo ploto įtaka, todėl galima lyginti skirtingų įvairaus dydžio pastatų skirtingų šildymo sezonų klases tarpusavyje, to paties FEVK įvairiais metais, mėnesiais ir pan.'"
              [popperTrigger]="'hover'" [popperForceDetection]="true" [popperPlacement]="'top'">vartojimo klasę</a>
            <span [style.background-color]="selectionByTypeState ? '#e61c24' : '#ececec' "
              [style.color]="selectionByTypeState ? '#fff' : '#4c4c4c' " class="heat-highlight border-r-2 type-no"
              [popper]="popperContent" [popperTrigger]="'hover'" [popperForceDetection]="true" [popperPlacement]="'top'"
              (click)="selectBuildingsByType()">
              <ng-container *ngIf="sidebarHeatContent?.TIPINIS_PR.trim(); else typeNotFount">
                {{sidebarHeatContent?.TIPINIS_PR}}
              </ng-container>
              <ng-template #typeNotFount>Nenustatyto</ng-template>
            </span> tipo namuose</p>
          <p><a href="./app/docs/metodika_2013.pdf" target="_blank">Atsisiųskite metodiką</a></p>
        </div>
        <popper-content #popperContent>
          <span *ngIf="!selectionByTypeState; else message">Žemėlapyje filtruokite tik šio tipo namus</span>
          <ng-template #message>Naikinti šio tipo namų filtravimą</ng-template>
        </popper-content>
      </div>
      <div [ngClass]="{'hide': showCharts}">
        <p class="not-found-template--margin">&sdot; <span>Informacija apie faktinio energijos suvartojimo klases
            neteikiama</span></p>
      </div>
    </perfect-scrollbar>
  </div>
</ng-template>
<ng-template #infoTemplate>
  <div class="sidebar-container" [@sidebarToggle]="sidebarInfoState">
    <perfect-scrollbar>
      <div class="build-p sidebar-header" (click)="closeSidaberGroup('info')"> <a href="javascript:void(0)"
          class="button close animate build-close">Atgal</a></div>
      <div class="main-s-content">
        <p>
          <span>Prižiūrinti organizacija<br /></span>
          {{sidebarHeatContent.PRIEZIURA}}
        </p>
        <p *ngIf="sidebarHeatContent.TIPINIS_PR.trim()">
          <span>Tipinių namų rūšiavimas<br /></span>
          {{sidebarHeatContent.TIPINIS_PR}}
        </p>
        <p *ngIf="!sidebarHeatContent.TIPINIS_PR.trim()">
          <span>Tipinių namų rūšiavimas<br /></span>
          -
        </p>
        <p>
          <span>Statybos metai<br /></span>
          <ng-container *ngIf="sidebarHeatContent.STATMETAI; else yearUnknown">{{sidebarHeatContent.STATMETAI}}
          </ng-container>
          <ng-template #yearUnknown>-</ng-template>
        </p>
      </div>
      <div class="heat-info">
        <p><a target="_blank" rel="noopener noreferrer" [href]="renovationProgramUrl">Daugiabučių namų
            atnaujinimo tvarka</a></p>
        <p>Šilumos suvartojimo duomenys - AB „Vilniaus šilumos tinklai“</p>
        <p>Kilus klausimams kreiptis <a href="mailto:savivaldybe@vilnius.lt">savivaldybe@vilnius.lt</a></p>
      </div>
    </perfect-scrollbar>
  </div>
</ng-template>